/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */
@import "_TODO";
/* =====branding====== */
	/*colors*/
	$primary: #fe9604; /*golden-orange #{$primary}*/ 
	$secondary: #6900d3; /*purple #{$secondary}*/
	$tertiary: #241276; /*#{$tertiary}*/
	$accent: #dbaf54;/*goldish for ridged borders #{$accent}*/

	$white: #faf4f3;/*@see background-color #{$white}*/
	$background-color: #faf4f3; /*#{$background-color}*/
	$box-shadow-color: black; /*#{$box-shadow-color}*/


	/* =====links===== */
	$link-color: #241276; /*blue #{$link-color}*/
	$hover: #9780ff; /*light purple #{$hover}*/
	$visited: #9780ff; /*light purple #{$visited}*/

	/* text colors */
	$selection-background-color: $visited;   /*#{$selection-background-color}*/
	$selection-color: #6900d3;  /*#{$selection-color}*/

	/*=====fonts=====*/
	$body-font-family: courier;  /*#{$body-font-family}*/
	$nav-font-family: courier;  /*#{$nav-font-family}*/
	$headings-font-family: cursive;  /*#{$headings-font-family}*/
	$decorative-font-family: cursive;  /*#{$decorative-font-family}*/
	/* =====Images===== */
	$logo: "../logo.jpg";  /*#{$logo}*/
	$background-texture: 'texture.png';  /*#{$background-texture}*/

@mixin card-style{ 
	header {
		border: 2px ridge $accent;
		background: #faf4f3;
		outline: 2px solid #faf4f3;
		box-shadow: 3px 2px 2px #000;
		margin-top: 5px;
		transform: skew(-30deg, 2deg);
		padding-top: 5px;
	}
	header:hover {
		background: #faf4f3;
		outline: 2px solid #faf4f3;
		box-shadow: 0 2px 5px #000;
		margin-top: 5px;
		padding-top: 5px;
	}
}
@mixin split-card-style-experiment {
	.split-card {
	    display: block;
	    width: 100%;
	    max-height: 145px;
	    background: center 6% no-repeat rgb(255, 255, 255) none;
	    text-align: center;
	    position: relative;
	    margin: 0px;
	    max-width: 600px;
	    background-size: 200%;
	    background-image: url($logo);
	    min-width: 50%;
	    min-height: 125px;
	    left: 0%;
	}
	header.split-card {
		background-image: none;
		border-top-width: 2px;
		padding-top: 0px;
		top: 20%;
	}
	.split-card .left {
		background-position-x: 0;
		width: 50%;
		/* display: inline; */
		position: fixed;
		margin-right: 69px;
	}
	.split-card .right {
		background-position-x: 100%;
		width: 50%;
		margin-left: 50%;
		position: relative;
	}

}

/*structure div#loading header.card div.logo>a>img*/
#loading {
	background: wheat;
    z-index: 100;
     /*TODO change to absolute after techniques to remove scrollbars are height and width are base on total page height and not just viewport*/
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
 }
 @include split-card-style-experiment;
.card {
	display: block;
	width: 100%;
	height: 145px;
	background: center center no-repeat white url($logo);
	text-align: center;
	background-size: contain;
	position: relative;
	top: 50%;
	/* left: 0; */
	margin: 0px;
	max-width: 600px;
}
.card img { width: 50%; }
.card .logo { display: none; }
.logo { background: center center no-repeat white url(../logo.jpg); }
.card h2 {
    position: fixed;
    bottom: 20%;
    left: 30%;
    font-family: "AR Decode";
    font-size: 51px;
    color: #926e19;
}
.card h3 { 
	position: fixed;
    bottom: 9%;
    left: 36%;
    font-family: "AR Decode";
    font-size: 51px;
    color: #926e19;
}
.pull-cap {
	
}
.pull-quote {

}

html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}
::selection {
	background: #9780ff;
	/* text-shadow: 1px 1px 1px #ffffff; */
	/*color: #6900d3;*/
}


hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
body { font-family: courier; }
#logo { text-align: center; }
#logo img { width:50%; }
.wrapper {
	width: 90%;
	margin: 0 5%;
}

header {
	border: 2px ridge $accent;
	background: #faf4f3;
	outline: 2px solid #faf4f3;
	box-shadow: 3px 2px 2px #000;
	margin-top: 5px;
	transform: skew(-30deg, 2deg);
	padding-top: 5px;
}
/* ===================
	ALL: Orange Theme
   =================== */

.header-container {
	box-shadow: 1px -3px 17px black;
}

.footer-container,
.main aside {
	border-top: 20px solid #faf4f3;
}

.header-container,
.footer-container,
.main aside {
	background: #faf4f3;
}

.title {
	color: #241276;
}

/* ==============
	MOBILE: Menu
   ============== */

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav a {
	display: block;
	margin-bottom: 10px;
	padding: 15px 0;

	text-align: center;
	text-decoration: none;
	font-weight: bold;

	color: #241276;
	background: #faf4f3;
}

nav a:hover,
nav a:visited {
	color: #9780ff;
}

nav a:hover {
	text-decoration: underline;
}

/* ==============
	MOBILE: Main
   ============== */

.main {
	padding: 30px 0;
}

.main article h1 {
	font-size: 2em;
}

.main aside {
	color: #241276;
	padding: 0px 5% 10px;
}

.footer-container footer {
	color: #241276;
	padding: 20px 0;
}

/* ===============
	ALL: IE Fixes
   =============== */

.ie7 .title {
	padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
	INTERMEDIATE: Menu
   ==================== */

	nav a {
		float: left;
		width: 13%;
		margin: 0 1.7%;
		padding: 20px 2% 5px 2%;
		margin-bottom: 0;
	}

	nav li:first-child a {
		margin-left: 0;
	}

	nav li:last-child a {
		margin-right: 0;
	}

/* ========================
	INTERMEDIATE: IE Fixes
   ======================== */

	nav ul li {
		display: inline;
	}

	.oldie nav a {
		margin: 0 0.7%;
	}
}

@media only screen and (min-width: 768px) {

/* ====================
	WIDE: CSS3 Effects
   ==================== */

	.header-container,
	.main aside {
		-webkit-box-shadow: 0 5px 10px #aaa;
		   -moz-box-shadow: 0 5px 10px #aaa;
				box-shadow: 0 5px 10px #aaa;
	}

/* ============
	WIDE: Menu
   ============ */

	.title {
		float: left;
	}

	nav {
		text-align: center;
	}

/* ============
	WIDE: Main
   ============ */

	.main article {

	}

	.main aside {
		float: right;
		width: 28%;
	}
}

@media only screen and (min-width: 1140px) {

/* ===============
	Maximal Width
   =============== */

	.wrapper {
		width: 1026px; /* 1140px - 10% for margins */
		margin: 0 auto;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
	display: none !important;
	visibility: hidden;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.invisible {
	visibility: hidden;
}

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		background: transparent !important;
		color: #000 !important;
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: underline;
	}

	a[href]:after {
		content: " (" attr(href) ")";
	}

	abbr[title]:after {
		content: " (" attr(title) ")";
	}

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
}